<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
<table>
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Email</td>
        <td>Номер телефона</td>
    </tr>
    <tr>
        <td th:text="${user.getFirstName()}">First Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getNumberPhone()}">Number Phone</td>
    </tr>
    <tr>
        <td>
            <form th:method="GET" th:action="@{/logout}">
            <input type="submit" value="Выйти">
            </form>
        </td>
    </tr>
</table>
</body>
</html>