<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<table>
    <form method="POST" th:action="@{/admin/new}" th:object="${user}">
        <fieldset>
            <label for="login">Login: </label>
            <input type="text" th:field="*{login}" id="login"/>
            </p>
            <label for="password">Пароль: </label></td>
            <input type="text" th:field="*{password}" id="password"/>
            </p>
            <label for="firstName">Имя: </label>
            <input type="text" th:field="*{firstName}" id="firstName"/>
            </p>
            <label for="lastName">Фамилия: </label>
            <input type="text" th:field="*{lastName}" id="lastName"/>
            </p>
            <label for="email">Email: </label>
            <input type="text" th:field="*{email}" id="email"/>
            </p>
            <label for="numberPhone">Номер телефона: </label>
            <input type="text" th:field="*{numberPhone}" id="numberPhone"/>
            </p>
            <label>Роли:
                <select size="2" multiple name="allRoles" required="required">
                    <option selected="selected" value="ROLE_USER">USER</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                </select>
            </label>
            </p>
        </fieldset>


        <input type="submit" value="Сохранить">

    </form>
    </table>
</body>
</html>