<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<table>
    <form method="POST" th:action="@{/admin/new}" th:object="${user}">
        <fieldset>
            <label for="login">Login: </label>
            <input type="text" th:field="*{login}" id="login"/>
            </p>
            <label for="password">Password: </label></td>
            <input type="text" th:field="*{password}" id="password"/>
            </p>
            <label for="firstName">First Name: </label>
            <input type="text" th:field="*{firstName}" id="firstName"/>
            </p>
            <label for="lastName">Last Name: </label>
            <input type="text" th:field="*{lastName}" id="lastName"/>
            </p>
            <label for="email">Email: </label>
            <input type="text" th:field="*{email}" id="email"/>
            </p>
            <label for="numberPhone">Number Phone: </label>
            <input type="text" th:field="*{numberPhone}" id="numberPhone"/>
            </p>
            <label>
                <select size="3" multiple="multiple" name="roles" id="roles">
                    <option disabled>Roles:</option>
                    <option value="ADMIN">ADMIN</option>
                    <option selected value="USER">USER</option>
                </select>
            </label>
            </p>
        </fieldset>


        <input type="submit" value="Add User">

    </form>
    </table>
</body>
</html>